body{
  background-color: black;

}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.filmBody{
  padding: 10px;
  margin-top: 2rem;
  display: inline-grid;
  grid-template-columns: auto auto auto;
}
.film{
  padding: 1rem 2rem;
  background: url('https://finmavis.github.io/swapi-task/static/media/bg-card-2.b0a7b209.png');
  margin: 10px 20px;
  text-align: left;
  color: white;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}
.film:hover{
  border: 5px solid blue;

}
.info{
  padding-top: 1.2rem;
    font-size: 1rem;
    text-transform: capitalize;
    border-top: 2px solid rgb(142, 46, 46);
    margin-top: 1rem;
    color: rgb(255, 232, 31);
}
.logo {
  fill: rgb(255, 232, 31);
  width: 100%;
  max-width: 45rem;
}
.moreBody{
  background-color: rgba(255,255,255,0.1);
  padding : 2rem;
  color: white;
}
.moreBody h4{
  font-size: 20px
}
.moreBody p{
  font-size: 18px
}
.moreBody div{
  text-align: left;
  
}
.moreBody div ul{
  display: grid;
  grid-template-columns: auto auto auto;
}
.moreBody .title{
  text-align: center;
}
@media (max-width: 960px) {
  .filmBody{
    display: flex;
    flex-direction: column;
  }
}